<div class="header-container" ng-include="sc.headerTemplate"></div>

<div class="page-container">
  <div class="home-img card crd-1"><div class="home-title">WE DB</div><img class="backcover-img" back-img="{{sc.homeImg}}"></div>

  <div class="page-cards card crd-3" ng-repeat="item in sc.pageCards" ng-class="item.title">
    <div class="mask"></div>
    <div class="item-content">
      <div class="content front">
        <div class="item-title">{{item.title}}</div>
        <div class="item-text">{{item.text}}</div>
      </div>
      <div class="content back">
        <i class="fa {{item.icon}}"></i>
      </div>
    </div>
  </div>

</div>
