<div class="header-container" ng-include="sc.headerTemplate"></div>

<div class="page-container">
  <div class="home-img card crd-1">
    <!--<div class="home-title">WE DB</div>-->
    <div class="home-logo"><img src="imgs\icons\logo_c_w.png"> </div>
    <!--<div class="backcover-img" back-img="{{sc.homeImg}}"></div>-->
    <div class="backcover-img"></div>
  </div>

  <div class="page-card-container">
    <div class="page-cards card crd-3" ng-repeat="item in sc.pageCards" ng-class="item.class">
      <div class="item-content" ui-sref="{{item.loc}}">
        <div class="mask"></div>
        <div class="content front">
          <div class="item-title">{{item.title}}</div>
          <div class="item-text">{{item.text}}</div>
        </div>
        <div class="content back">
          <!--<img class="back-img" ng-src="{{item.img}}">-->
        </div>
      </div>
    </div>
  </div>

  <div class="blog-post card crd-1" ng-if="sc.blogs.displayFlg">
    <div class="blog-container">
      <div class="blog-title">WeDB Notes</div>
      <div class="img-section">
        <div class="img-selected {{sc.blogs.displayObj.type}}" ng-click="sc.selectBlogImg(sc.blogs.displayObj)">
          <div class="image-notify"></div>
          <img ng-src="http://image.tmdb.org/t/p/w500{{sc.blogs.displayObj.img}}">
        </div>
      </div>
      <div class="content-section">
        <div class="content-title">{{sc.blogs.all[sc.blogs.displayID].title}}</div>
        <div class="img-all">
          <div class="img-all-container">
            <div class="mini-img-item" ng-repeat="item in sc.blogs.all[sc.blogs.displayID].displayData" ng-click="sc.changeBlogImg(item.info)" ng-class="{'selected': sc.isBlogImgSelected(item.info)}">
              <img ng-src="http://image.tmdb.org/t/p/w500{{item.info.poster_path}}" ng-if="item.info.media_type != 'person'">
              <img ng-src="http://image.tmdb.org/t/p/w500{{item.info.profile_path}}" ng-if="item.info.media_type == 'person'">
            </div>
          </div>
        </div>
        <div class="content-text">{{sc.blogs.all[sc.blogs.displayID].text}} </div>
      </div>

      <div class="more-notes"></div>
    </div>
  </div>

</div>
