
<nav class="navbar navbar-default we-nav" ng-controller="HomeController as hc" nav-hold>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">WeDB</a>
    </div>
    <div class="nav navbar-nav navbar-right navbar-collapse collapse">
      <input type="text" ng-model="mc.selected" placeholder="Search For Movie Title" uib-typeahead="movie.title for movie in mc.movieSearch($viewValue)" typeahead-template-url="views/templates/search_movies.html" typeahead-min-length="0" typeahead-wait-ms="500" typeahead-on-select="mc.viewMovieInfo($item)" class="form-control">
      <ul class="nav navbar-nav" id="movie-nav">
        <li ng-repeat="section in hc.sections" class="{{section.type}}" ng-class="{'active':section.state == mc.title}"><a ui-sref="{{section.state}}">{{section.title}}</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="section-body">
  <!--SELECTED MOVIE-->
  <div ng-if="mc.showSelected" class="selected-object">
    <div class="selected-container">
      <img ng-src="http://image.tmdb.org/t/p/w500{{mc.selectedMovie.poster_path}}" ng-if="mc.selectedMovie.poster_path != null">
      <div class="no-cover" ng-if="mc.selectedMovie.poster_path == null"></div>
      <div class="selected-info">
        <p class="selected-title">{{mc.selectedMovie.title}} <span class="selected-year">({{mc.selectedMovie.release_date | date:'yyyy'}})</span></p>

        <div class="selected-details">
          <div class="btn-section">
            <md-button class="md-raised we-btn" ng-click="mc.viewMovieCredits(mc.selectedMovie.id)">View Top Billed Cast </md-button>
            <md-button class="md-raised we-btn" ng-click="mc.viewBio()">View Overview </md-button>
            <md-button class="md-raised we-btn movie-btn" ng-click="mc.addToCompare(mc.selectedMovie)" ng-disabled="!mc.ableToCompare(mc.selectedMovie)">Add To Compare</md-button>
          </div>
          <div class="selected-about" ng-show="mc.showBio">{{mc.selectedMovie.overview}}</div>
          <div class="cast-member" ng-show="mc.showSelectedCredit">
            <div class="selected-cast-members" ng-repeat="cast in mc.selectedCredit">
              <img ng-src="http://image.tmdb.org/t/p/w500{{cast.profile_path}}" ng-if="cast.profile_path != null">
              <div class="no-cover" ng-if="cast.profile_path == null"></div>
              <div class="selected-character"><div class="character movie">{{cast.character}}</div><div class="name">{{cast.name}}</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- LIST OF MOVIES TO COMPARE-->
  <div class="compare-object" ng-if="mc.showCompare">
    <div class="compare-object-container">
      <div class="object-display" ng-repeat="movie in mc.selectedObjects">
        <div class="object-container">
          <div class="remove-object" ng-click="mc.removeCompareMovie(movie)" ng-if="mc.compared.length == 0"><i class="fa fa-minus-circle"></i></div>
          <div class="object-poster">
            <img ng-src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" ng-if="movie.poster_path != null">
            <div class="no-cover" ng-if="movie.poster_path == null"></div>
            <!--Add actor/actress compare bubbles-->
            <div class="visual-bubbles movie-visual" ng-if="mc.comparedVisuals.length > 0">
              <div ng-repeat="visuals in mc.comparedVisuals" ng-if="visuals.more_info.movies.indexOf(movie.id) > -1">
                  <img ng-src="http://image.tmdb.org/t/p/w500{{visuals.more_info.profile_path}}" ng-if="visuals.more_info.profile_path != null" ng-style="{'border-color':mc.getIdColor(visuals.id)}" width="30" ng-class="{'highlighted':mc.highlight.id == visuals.id}" random-motion>
              </div>
            </div>
            <div class="info-slide" ng-class="{'comp-slide':!mc.getSliderStatus(movie)}">
              <p ng-click="mc.toggleSlider(movie)"><i class="fa" ng-class="mc.getSliderStatus(movie) ? 'fa-angle-double-down':'fa-angle-double-up'"></i><span>Movie Information</span><i class="fa" ng-class="mc.getSliderStatus(movie) ? 'fa-angle-double-down':'fa-angle-double-up'"></i></p>
              <div><span class="info-header">Overview</span> <span class="info-content">{{movie.overview}}</span></div>
              <div><span class="info-header">Production Companies</span> <span class="info-content"> <span ng-repeat="comp in movie.production_companies">{{comp.name}}<span ng-if="!$last">, </span> </span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br style="clear: both">
  </div>

  <!--Compare Buttons -->
  <div class="compare-results" ng-if="mc.selectedObjects.length > 1">
    <div class="btn-section">
      <md-button class="md-raised we-btn movie-btn" ng-click="mc.compareSelectedMovies()" ng-disabled="mc.compared.length > 0">Compare Selected Movies</md-button>
      <md-button class="md-raised we-btn" ng-click="mc.clearResults()">Clear Results</md-button>
    </div>
  </div>

  <!--About Text-->
  <div class="about-section" id="movie-about" ng-if="mc.compared.length == 0">
    <h1>Movie Comparison</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <!--Compare Results Pills-->
  <div class="results-pill" ng-if="mc.compared.length > 0">
    <div class="compare-header">
      <h2>Comparison Results</h2>
      <p>Please select movie titles to get list of matching cast members in those movies.</p>
    </div>
    <div class="pill-container">
      <div class="pill-left">
        <div ng-repeat="compare in mc.compared" class="compare-select movie-select" ng-click="mc.selectedList = compare;" ng-class="mc.getListClass(compare)">
          <div class="titles">
            <div>{{compare.movie1.title}}</div>
            <div>{{compare.movie2.title}}</div>
            <div ng-if="compare.movie3 != null">{{compare.movie3.title}}</div>
          </div>
          <i class="fa fa-chevron-right"></i>
        </div>
      </div>
      <div class="pill-right">
        <div class="default" ng-if="mc.selectedList==undefined">Please Select</div>
        <div ng-if="mc.selectedList!=undefined">
          <ul>
            <li ng-repeat="cast in mc.selectedList.matchedCast" ng-click="mc.highlightCast(cast)" ng-class="{'highlighted':mc.highlight.id == cast.id}"><img ng-src="http://image.tmdb.org/t/p/w500{{cast.profile_path}}" ng-if="cast.profile_path != null" ng-style="{'border-color':mc.getIdColor(cast.id)}"><span>{{cast.name}}</span></li>
          </ul>
          <div class="no-matches" ng-if="mc.selectedList.matchedCast.length == 0"><i class="fa fa-ban"></i> No matching cast members for these movies</div>
        </div>
      </div>
      <br style="clear: both;">
    </div>
  </div>

<!--End of Section Body-->
</div>
