<div class="header-container movie" ng-include="sc.headerTemplate"></div>

<div class="page-container">
  <!-- Message -->
  <div class="header-message movie" ng-if="sc.comparisonMoviesTv.length > 0 || sc.comparisonMoviesTv.display">Search for Movie or TV shows, then add to our comparison machine to find out what cast and crew have worked in your selections.</div>

  <!--Details Page-->
  <div class="details movietv card crd-1" ng-show="sc.selectedMovieTv.display">
    <div class="background-cover" ng-style="{'background-image':'url('+sc.selectedMovieTv.images +')'}"></div>
    <div class="details-container">
      <div class="clearDetails" ng-click="sc.clearDetails()"><i class="material-icons">close</i></div>
      <!--Nav Title-->
      <div class="details-section details-nav">
        <div class="item-title item-row"><span ng-if="sc.selectedMovieTv.details.type == 'movie'">{{sc.selectedMovieTv.details.title}}</span><span ng-if="sc.selectedMovieTv.details.type == 'tv'">{{sc.selectedMovieTv.details.name}}</span></div>
        <div class="item-row mobile-hide">
          <div class="item-details-container options {{sc.selectedMovieTv.details.type}}">
            <div class="option-link" ng-class="sc.selectedMovieTv.infoview == 'details' ? 'selected' : ''" ng-click="sc.getAdditionalSelectedInfo('details', sc.selectedMovieTv.details.type)">Overview</div>
            <div class="option-link" ng-class="sc.selectedMovieTv.infoview == 'credits' ? 'selected' : ''" ng-click="sc.getAdditionalSelectedInfo('credits', sc.selectedMovieTv.details.type)">Credits</div>
            <div class="option-link" ng-class="sc.selectedMovieTv.infoview == 'suggestions' ? 'selected' : ''" ng-click="sc.getAdditionalSelectedInfo('suggestions', sc.selectedMovieTv.details.type)">Suggestions</div>
          </div>
        </div>
      </div>

      <div class="details-section blk-section blk-left">
        <div class="details-img">
          <img ng-src="http://image.tmdb.org/t/p/w500{{sc.selectedMovieTv.details.poster_path}}" ng-if="sc.selectedMovieTv.details.poster_path != null">
          <div class="noPoster" ng-if="sc.selectedMovieTv.details.poster_path == null"></div>
          <div class="add-item {{sc.selectedMovieTv.details.type}}" ng-click="sc.addItem(sc.selectedMovieTv)" ng-show="sc.addCheck(sc.selectedMovieTv.id)"><div class="icon"><i class="material-icons">add</i></div> <span>Add Movie To Comparison</span></div>
        </div>
      </div>

      <div class="details-section blk-section blk-right">
        <div class="item-row">
          <div class="item-details-container">
            <div class="item-section-seperation" ng-if="sc.selectedMovieTv.details.homepage != null && sc.selectedMovieTv.details.homepage != ''"><a ng-href="{{sc.selectedMovieTv.details.homepage}}" target="_blank">Website</a></div>
            <div class="item-section-seperation"><div class="genres" ng-repeat="genre in sc.selectedMovieTv.details.genres">{{genre.name}}</div></div>
            <div class="item-section-seperation"><div class="runtime">{{sc.selectedMovieTv.details.runtime}} minutes</div></div>
          </div>
        </div>
        <div class="item-row mobile-show">
          <div class="item-details-container options {{sc.selectedMovieTv.details.type}}">
            <div class="option-link" ng-class="sc.selectedMovieTv.infoview == 'details' ? 'selected' : ''" ng-click="sc.getAdditionalSelectedInfo('details', sc.selectedMovieTv.details.type)">Overview</div>
            <div class="option-link" ng-class="sc.selectedMovieTv.infoview == 'credits' ? 'selected' : ''" ng-click="sc.getAdditionalSelectedInfo('credits', sc.selectedMovieTv.details.type)">Credits</div>
            <div class="option-link" ng-class="sc.selectedMovieTv.infoview == 'suggestions' ? 'selected' : ''" ng-click="sc.getAdditionalSelectedInfo('suggestions', sc.selectedMovieTv.details.type)">Suggestions</div>
          </div>
        </div>

        <div class="item-row">
          <div class="item-details-container info">
            <div class="info-section" ng-if="sc.selectedMovieTv.infoview == 'details' ? 'selected' : ''">
              <span ng-if="sc.selectedMovieTv.details.overview != ''">{{sc.selectedMovieTv.details.overview}}</span>
              <span ng-if="sc.selectedMovieTv.details.overview == ''">Sorry We Currently Don't Have An Overview For This Title</span>
            </div>
            <div class="info-section" ng-if="sc.selectedMovieTv.infoview == 'credits' ? 'selected' : ''">
              <div class="info-credits">
                <div class="credits-title">Cast</div>
                <div class="credits-item {{sc.selectedMovieTv.details.type}}" ng-repeat="item in sc.selectedMovieTv.credits.cast">
                  <div class="credit-img" ui-sref="app.cast({id1: item.id})">
                    <div class="add-cover"><i class="material-icons">person_add</i></div>
                    <img ng-src="https://image.tmdb.org/t/p/w132_and_h132_bestv2{{item.profile_path}}" ng-if="item.profile_path != null"/>
                  </div>
                  <div class="credit-content">
                    <div class="item-name">{{item.name}}</div>
                    <div class="item-character">{{item.character}}</div>
                  </div>
                </div>

                <div ng-if="sc.selectedMovieTv.credits.cast.length == 0">Sorry we don't have the cast for this</div>
              </div>
              <div class="info-credits">
                <div class="credits-title">Crew</div>
                <div class="credits-item {{sc.selectedMovieTv.details.type}}" ng-repeat="item in sc.selectedMovieTv.credits.crew">
                  <div class="credit-img" ui-sref="app.cast({id1: item.id})">
                    <div class="add-cover"><i class="material-icons">person_add</i></div>
                    <img ng-src="https://image.tmdb.org/t/p/w132_and_h132_bestv2{{item.profile_path}}" ng-if="item.profile_path != null"/>
                  </div>
                  <div class="credit-content">
                    <div class="item-name">{{item.name}}</div>
                    <div class="item-job">{{item.job}}</div>
                  </div>
                </div>
                <div ng-if="sc.selectedMovieTv.credits.crew.length == 0">Sorry we don't have the crew for this</div>
              </div>
            </div>
            <div class="info-section" ng-if="sc.selectedMovieTv.infoview == 'suggestions' ? 'selected' : ''">
              <div class="info-sugggestions-container">
                <div ng-if="sc.selectedMovieTv.suggestions.results.length == 0">Sorry We Don't Have Any Suggestions</div>
                <div class="suggestions-item {{sc.selectedMovieTv.details.type}}" ng-repeat="item in sc.selectedMovieTv.suggestions.results" ng-click="sc.displayDetails(item.id, sc.selectedMovieTv.details.type)">
                  <div class="image-notify"></div>
                  <img ng-src="http://image.tmdb.org/t/p/w500{{item.poster_path}}"/>
                  <div class="suggestion-title" ng-if="sc.selectedMovieTv.details.type == 'movie'">{{item.title}}</div>
                  <div class="suggestion-title" ng-if="sc.selectedMovieTv.details.type == 'tv'">{{item.name}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Panel -->
  <div class="header-panel movietv card crd-1" ng-if="sc.comparisonMoviesTv.length < 1" ng-hide="sc.selectedMovieTv.display">
    <div class="header-panel-container">
      <div class="comparison-header">
        <div class="backcover-img" ></div>
        <!--<div class="backcover-img" back-img="{{sc.homeImg}}"></div>-->
        <div class="comparison-title">Movies & Tv Shows</div>
        <div class="comparison-text">Search for Movie or TV shows, then add to our comparison machine to find out what cast and crew have worked in your selections.</div>
      </div>
    </div>
  </div>
  <!-- Comparison Section -->
  <div class="comparison movietv card crd-1" ng-if="sc.comparisonMoviesTv.length >= 1">
    <div class="comparison-container">
      <div class="comparison-title item-row">Comparison List</div>

      <div class="comparison-links" ng-if="sc.comparisonMoviesTv.length > 1">
        <div class="option-link compare-btn" ng-click="sc.compareObjects()" ng-class="{selected: sc.resultsMovieTv.visuals.view == true}" ng-disabled="sc.resultsMovieTv.visuals.view == true" scroll-to="compareSection"><span>Compare</span></div>
        <div class="option-link clear-btn" ng-click="sc.clearCompare()"><span>Clear</span></div>
      </div>
      <div class="compare-objects" ng-if="sc.comparisonMoviesTv.length > 0">
        <div id="compareSection"></div>
        <div class="comparison-item" ng-repeat="item in sc.comparisonMoviesTv">
          <div class="removeItem" ng-click="sc.removeMovieTv(item.id)" ng-if="sc.resultsMovieTv.visuals.view == false"><i class="material-icons">close</i></div>
          <div class="compare-mask" ng-class="{'active':sc.isResultsViewed(item.id)}" ng-if="sc.resultsMovieTv.visuals.view == true" ng-click="sc.toggleResultViews(item.id)">
            <i class="fa fa-eye" ng-if="sc.isResultsViewed(item.id)"></i>
            <i class="fa fa-eye-slash" ng-if="!sc.isResultsViewed(item.id)"></i>
          </div>
          <div class="compare-img"><img ng-src="http://image.tmdb.org/t/p/w500{{item.details.poster_path}}"></div>
          <div class="compare-text"><span ng-if="item.details.type == 'movie'">{{item.details.title}}</span> <span ng-if="item.details.type == 'tv'">{{item.details.name}}</span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Comparison Results -->
  <div class="comparison-res movietv card crd-1" ng-if="sc.resultsMovieTv.visuals.view == true">
    <div class="comparison-container">
      <div class="comparison-title item-row">Comparison Results</div>
      <div class="compare-results">
        <div class="visual-results">
          <div class="visual-container">
            <div class="item-visual" ng-repeat="item in sc.resultsMovieTv.visuals.castACrew" ng-style="{'border-color':item.color,'background-color':item.color }" random-motion>
              <img ng-src="https://image.tmdb.org/t/p/w132_and_h132_bestv2{{item.image_path}}" ng-if="item.image_path != null">
            </div>
            <div class="error-message" ng-if="sc.resultsMovieTv.visuals.castACrew.length == 0" random-motion>Sorry We Did Not Find Any Matches</div>
          </div>
        </div>

        <div class="full-results">
          <div class="detail-results">
            <div class="details-title">Cast & Crew</div>
            <div class="details-container">
              <div class="details-item" ng-repeat="item in sc.resultsMovieTv.visuals.castACrew">
                <div class="item-img" ng-style="{'border-color':item.color}"><img ng-src="https://image.tmdb.org/t/p/w132_and_h132_bestv2{{item.image_path}}" ng-if="item.image_path != null"></div>
                <div class="item-title">{{item.name}}</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Now Playing-->
  <div class="extra-content card crd-1">
    <div class="extra-content-containers">
      <div class="extra-header">Recent Movie Releases</div>
      <div class="item-container">
        <div class="item movie" ng-repeat="item in sc.extraContent.movies.results" ng-click="sc.displayDetails(item.id, 'movie')" scroll-to="">
          <div class="image-notify"></div>
          <img ng-src="http://image.tmdb.org/t/p/w500{{item.poster_path}}"/>
          <div class="extra-title">{{item.title}}</div>
        </div>
      </div>
    </div>
  </div>
  <!--Shows on the air-->
  <div class="extra-content card crd-1">
    <div class="extra-content-containers">
      <div class="extra-header">Popular TV Shows</div>
      <div class="item-container">
        <div class="item tv" ng-repeat="item in sc.extraContent.tv.results" ng-click="sc.displayDetails(item.id, 'tv')" scroll-to="">
          <div class="image-notify"></div>
          <img ng-src="http://image.tmdb.org/t/p/w500{{item.poster_path}}"/>
          <div class="extra-title">{{item.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
