<div class="header-container movie" ng-include="sc.headerTemplate"></div>

<div class="page-container">
  <!--Details Page-->
  <div class="details movietv card crd-1" ng-show="sc.selectedMovieTv.display">
    <div class="details-container">
      <div class="clearDetails" ng-click="sc.clearDetails()"><i class="fa fa-times"></i></div>
      <div class="details-section blk-section blk-left">
        <div class="details-img">
          <img ng-src="http://image.tmdb.org/t/p/w500{{sc.selectedMovieTv.details.poster_path}}">
          <div class="add-item {{sc.selectedMovieTv.details.type}}" ng-click="sc.addItem(sc.selectedMovieTv)" ng-show="sc.addCheck(sc.selectedMovieTv.id)"><div class="icon"><i class="fa fa-plus"></i></div> <span>Add Movie To Comparison</span></div>
        </div>
      </div>

      <div class="details-section blk-section blk-right">
        <div class="item-title">{{sc.selectedMovieTv.details.title}}</div>
        <div class="item-row">
          <div class="item-details-container">
            <div class="item-section-seperation" ng-if="sc.selectedMovieTv.details.homepage != null"><a ng-href="{{sc.selectedMovieTv.details.homepage}}" target="_blank">Website</a></div>
            <div class="item-section-seperation"><div class="genres" ng-repeat="genre in sc.selectedMovieTv.details.genres">{{genre.name}}</div></div>
            <div class="item-section-seperation"><div class="runtime">{{sc.selectedMovieTv.details.runtime}} minutes</div></div>
          </div>
        </div>
        <div class="item-row">
          <div class="item-details-container options">
            <div class="option-link" ng-class="sc.selectedMovieTv.infoview == 'details' ? 'selected' : ''" ng-click="sc.getAdditionalSelectedInfo('details', sc.selectedMovieTv.details.type)">Overview</div>
            <div class="option-link" ng-class="sc.selectedMovieTv.infoview == 'credits' ? 'selected' : ''" ng-click="sc.getAdditionalSelectedInfo('credits', sc.selectedMovieTv.details.type)">Credits</div>
            <div class="option-link" ng-class="sc.selectedMovieTv.infoview == 'suggestions' ? 'selected' : ''" ng-click="sc.getAdditionalSelectedInfo('suggestions', sc.selectedMovieTv.details.type)">Suggestions</div>
          </div>
        </div>
        <div class="item-row">
          <div class="item-details-container info">
            <div class="info-section" ng-if="sc.selectedMovieTv.infoview == 'details' ? 'selected' : ''">{{sc.selectedMovieTv.details.overview}}</div>
            <div class="info-section" ng-if="sc.selectedMovieTv.infoview == 'credits' ? 'selected' : ''">
              <div class="info-credits">
                <div class="credits-title">Cast</div>
                <div class="credits-item {{sc.selectedMovieTv.details.type}}" ng-repeat="item in sc.selectedMovieTv.credits.cast"><div class="item-name">{{item.name}}</div> <div class="item-character">{{item.character}}</div></div>
                <div ng-if="sc.selectedMovieTv.credits.cast.length == 0">Sorry we don't have the cast for this</div>
              </div>
              <div class="info-credits">
                <div class="credits-title">Crew</div>
                <div class="credits-item {{sc.selectedMovieTv.details.type}}" ng-repeat="item in sc.selectedMovieTv.credits.crew"><div class="item-name">{{item.name}}</div> <div class="item-job">{{item.job}}</div></div>
                <div ng-if="sc.selectedMovieTv.credits.crew.length == 0">Sorry we don't have the crew for this</div>
              </div>
            </div>
            <div class="info-section" ng-if="sc.selectedMovieTv.infoview == 'suggestions' ? 'selected' : ''">
              <div class="info-sugggestions-container">
                <div ng-if="sc.selectedMovieTv.suggestions.results.length == 0">Sorry We Don't Have Any Suggestions</div>
                <div class="suggestions-item {{sc.selectedMovieTv.details.type}}" ng-repeat="item in sc.selectedMovieTv.suggestions.results" ng-click="sc.displayDetails(item.id, sc.selectedMovieTv.details.type)">
                  <img ng-src="http://image.tmdb.org/t/p/w500{{item.poster_path}}"/>
                  <div class="suggestion-title" ng-if="sc.selectedMovieTv.details.type == 'movie'">{{item.title}}</div>
                  <div class="suggestion-title" ng-if="sc.selectedMovieTv.details.type == 'tv'">{{item.name}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Comparison Section -->
  <div class="comparison movietv card crd-1">
    <div class="comparison-container">
      <div class="comparison-header">
        <img class="backcover-img" back-img="{{sc.homeImg}}">
        <div class="comparison-title">Movies & Tv Shows</div>
        <div class="comparison-ctrls" ng-if="sc.comparisonMoviesTv.length > 1">
          <div class="ctrl-btn compare-btn" ng-click="sc.compareObjects()"><div class="icon"><i class="fa fa-balance-scale"></i></div> <span>Compare</span></div>
          <div class="ctrl-btn clear-btn" ng-click="sc.clearCompare()"><div class="icon"><i class="fa fa-minus"></i></div> <span>Clear</span></div>
        </div>
      </div>
      <div class="compare-objects" ng-if="sc.comparisonMoviesTv.length > 0">
        <div class="comparison-item" ng-repeat="item in sc.comparisonMoviesTv">
          <div class="removeItem" ng-click="sc.removeMovieTv(item.id)" ng-if="sc.resultsMovieTv.visuals.view == false"><i class="fa fa-times"></i></div>
          <div class="compare-mask" ng-class="{'active':sc.isResultsViewed(item.id)}" ng-if="sc.resultsMovieTv.visuals.view == true" ng-click="sc.toggleResultViews(item.id)">
            <i class="fa fa-eye" ng-if="sc.isResultsViewed(item.id)"></i>
            <i class="fa fa-eye-slash" ng-if="!sc.isResultsViewed(item.id)"></i>
          </div>
          <div class="compare-img"><img ng-src="http://image.tmdb.org/t/p/w500{{item.details.poster_path}}"></div>
          <div class="compare-text" ng-if="item.details.type == 'movie'">{{item.details.title}}</div>
          <div class="compare-text" ng-if="item.details.type == 'tv'">{{item.details.name}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="comparison-res movietv card crd-1" ng-if="sc.resultsMovieTv.visuals.view == true">
    <div class="comparison-container">
      <div class="compare-results">
        <div class="full-results">
          <div class="detail-results">
            <div class="details-title">Cast & Crew</div>
            <div class="details-container">
              <div class="details-item" ng-repeat="item in sc.resultsMovieTv.visuals.castACrew">
                <div class="item-img" ng-style="{'background-color':item.color}"><img ng-src="http://image.tmdb.org/t/p/w500{{item.image_path}}" ng-if="item.image_path != null"></div>
                <div class="item-title">{{item.name}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="visual-results">
          <div class="visual-container">
            <div class="item-visual" ng-repeat="item in sc.resultsMovieTv.visuals.castACrew" ng-style="{'border-color':item.color,'background-color':item.color }" random-motion>
              <img ng-src="http://image.tmdb.org/t/p/w500{{item.image_path}}" ng-if="item.image_path != null">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Now Playing-->
  <div class="extra-content card crd-1">
    <div class="extra-content-containers">
      <div class="extra-header">Movies Now Playing</div>
      <div class="item-container">
        <div class="item movie" ng-repeat="item in sc.extraContent.movies.results" ng-click="sc.displayDetails(item.id, 'movie')">
          <img ng-src="http://image.tmdb.org/t/p/w500{{item.poster_path}}"/>
          <div class="extra-title">{{item.title}}</div>
        </div>
      </div>
    </div>
  </div>
  <!--Shows on the air-->
  <div class="extra-content card crd-1">
    <div class="extra-content-containers">
      <div class="extra-header">TV On Air</div>
      <div class="item-container">
        <div class="item tv" ng-repeat="item in sc.extraContent.tv.results" ng-click="sc.displayDetails(item.id, 'tv')">
          <img ng-src="http://image.tmdb.org/t/p/w500{{item.poster_path}}"/>
          <div class="extra-title">{{item.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
