<div class="header-container movie" ng-include="sc.headerTemplate"></div>

<div class="page-container">
  <!--Details Page-->
  <div class="details movie card crd-1" ng-show="sc.selectedMovie.display">
    <div class="details-container">
      <div class="details-section blk-section blk-left">
        <div class="details-img">
          <img ng-src="http://image.tmdb.org/t/p/w500{{sc.selectedMovie.details.poster_path}}">
          <div class="add-item" ng-click="sc.addItem(sc.selectedMovie)"><div class="icon"><i class="fa fa-plus"></i></div> <span>Add Movie To Comparison</span></div>
        </div>
      </div>

      <div class="details-section blk-section blk-right">
        <div class="item-title">{{sc.selectedMovie.details.title}}</div>
        <div class="item-row">
          <div class="item-details-container">
            <div class="item-section-seperation"><a ng-href="{{sc.selectedMovie.details.homepage}}" target="_blank">Website</a></div>
            <div class="item-section-seperation"><div class="genres" ng-repeat="genre in sc.selectedMovie.details.genres">{{genre.name}}</div></div>
            <div class="item-section-seperation"><div class="runtime">{{sc.selectedMovie.details.runtime}} minutes</div></div>
          </div>
        </div>
        <div class="item-row">
          <div class="item-details-container options">
            <div class="option-link" ng-class="sc.selectedMovie.infoview == 'details' ? 'selected' : ''" ng-click="sc.getAdditionalSelectedInfo('details')">Overview</div>
            <div class="option-link" ng-class="sc.selectedMovie.infoview == 'credits' ? 'selected' : ''" ng-click="sc.getAdditionalSelectedInfo('credits')">Credits</div>
            <div class="option-link" ng-class="sc.selectedMovie.infoview == 'suggestions' ? 'selected' : ''" ng-click="sc.getAdditionalSelectedInfo('suggestions')">Suggestions</div>
          </div>
        </div>
        <div class="item-row">
          <div class="item-details-container info">
            <div class="info-section" ng-if="sc.selectedMovie.infoview == 'details' ? 'selected' : ''">{{sc.selectedMovie.details.overview}}</div>
            <div class="info-section" ng-if="sc.selectedMovie.infoview == 'credits' ? 'selected' : ''">
              <div class="info-credits">
                <div class="credits-title">Cast</div>
                <div class="credits-item" ng-repeat="item in sc.selectedMovie.credits.cast"><div class="item-name">{{item.name}}</div> <div class="item-character">{{item.character}}</div></div>
              </div>
              <div class="info-credits">
                <div class="credits-title">Crew</div>
                <div class="credits-item" ng-repeat="item in sc.selectedMovie.credits.crew"><div class="item-name">{{item.name}}</div> <div class="item-job">{{item.job}}</div></div>
              </div>
            </div>
            <div class="info-section" ng-if="sc.selectedMovie.infoview == 'suggestions' ? 'selected' : ''">
              <div class="info-sugggestions-container">
                <div class="suggestions-item" ng-repeat="item in sc.selectedMovie.suggestions.results" ng-click="sc.displayDetails(item.id)";>
                  <img ng-src="http://image.tmdb.org/t/p/w500{{item.poster_path}}"/>
                  <div class="suggestion-title">{{item.title}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Comparison Section -->
</div>
