<div class="header-container spotlight" ng-include="sc.headerTemplate"></div>

<div class="page-container">
  <!-- Header Section-->
  <div class="header-section-container">
    <div class="header-message spotlight" ng-if="sc.spotlightObject.id == sc.defaultItem.id">Our spotlight section allows you to focus on a Movie or TV Show and find the cast connections within that title. With our WEDB favorite we bring to you one of our favorite titles.</div>

    <div class="header-panel spotlight card crd-1">
      <div class="header-content">
        <div class="background-cover" ng-style="{'background-image':'url('+sc.spotlightObject.images +')'}"></div>
        <div class="spotlight-details detail-img">
          <div class="noPoster" ng-if="sc.spotlightObject.details.poster_path == null"></div>
          <img ng-src="http://image.tmdb.org/t/p/w500{{sc.spotlightObject.details.poster_path}}" ng-if="sc.spotlightObject.details.poster_path != null">
        </div>
        <div class="spotlight-details detail-info">
          <div class="info-title"><span ng-if="sc.spotlightObject.details.type == 'movie'">{{sc.spotlightObject.details.title}}</span> <span ng-if="sc.spotlightObject.details.type == 'tv'">{{sc.spotlightObject.details.name}}</span></div>
          <div class="spotlight-item" ng-if="sc.spotlightObject.id == sc.defaultItem.id"><i class="fa fa-lightbulb-o"></i> WEDB Favorite</div>
          <div class="info-content">
            <div class="content info-tagline" ng-if="sc.spotlightObject.details.tagline != null && sc.spotlightObject.details.tagline.length > 0">"{{sc.spotlightObject.details.tagline}}"</div>

            <div class="content info-date" ng-if="sc.spotlightObject.details.type == 'movie'">{{sc.spotlightObject.details.release_date | date:'MMM dd, yyyy'}}</div>
            <div class="content info-date" ng-if="sc.spotlightObject.details.type == 'tv'">{{sc.spotlightObject.details.first_air_date | date:'MMM, yyyy'}}</div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="visual-section cast-spotlight-section">
    <div class="visual-title">Spotlight Cast</div>
    <div class="header-message spotlight">Our spotlight section chooses {{sc.spotlightMax}} of the top billed cast & crew to build our connections.</div>
    <div class="extra-container">
      <div class="cast-container" id="spotlightCast">
        <div class="cast-item" ng-repeat="item in sc.spotlightObject.creditsVisuals">
          <div class="img-container" ui-sref="app.cast({id1: item.id})">
            <div class="add-cover" ng-style="{ 'background-color': item.color.border}"><i class="material-icons">person_add</i></div>
            <img class="cast-img" ng-src="{{item.image}}" ng-style="{'border-color': item.color.border, 'background-color': item.color.border}" ng-if="item.image != null">
            <div class="cast-img" ng-src="{{item.image}}" ng-style="{'border-color': item.color.border, 'background-color': item.color.border}" ng-if="item.image == null"></div>
          </div>
          <div class="item-title">{{item.label}}</div>
        </div>
      </div>
      <!-- Controls -->
      <div class="nav-ctrl ctrl-left" ng-click="sc.clickActivate(-1, 'spotlightCast')" ng-mouseenter="sc.scrollActivate(-1, 'spotlightCast')" ng-mouseleave="sc.scrollDeactivate()"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
      <div class="nav-ctrl ctrl-right" ng-click="sc.clickActivate(-1, 'spotlightCast')" ng-mouseenter="sc.scrollActivate(1, 'spotlightCast')" ng-mouseleave="sc.scrollDeactivate()"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>
  </div>

  <div class="visual-section cast-connections-section">
    <div class="visual-title">Cast Connections</div>
    <div class="header-message spotlight">View the projects each cast or crew member has been involved in that connects them to each other. Select a node or connection to highlight it.</div>
    <div class="visual-content">
      <div id="network-container" ></div>
      <!-- Loading -->
      <div class="loading-container" ng-if="sc.visualLoading.network">
        <div class="loading-icon">
          <div class="loading-text">Loading</div>
          <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>

  <div class="visual-section cast-frequency-section">
    <div class="visual-title">Cast Work Frequency</div>
    <div class="header-message spotlight">Check out the number of projects a member of the spotlight group has collaborated with the other members on.  Broken down into individual as well as overall total collaborations.</div>
    <div class="visual-content">
      <div class="chord-container"></div>
      <!-- Loading -->
      <div class="loading-container" ng-if="sc.visualLoading.chord">
        <div class="loading-icon">
          <div class="loading-text">Loading</div>
          <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>

</div>
