@mobile-device: ~"(max-width: 770px)";

@font-size: 16px;
@color-cast: rgba(36, 113, 163,1);
@color-movie: rgba(203, 67, 53,1);
@color-tv: rgba(34, 153, 84, 1);
@color-special: rgba(255,102,0,1);

@import url('https://fonts.googleapis.com/css?family=Boogaloo|Cinzel|Fjalla+One|Oswald|Paytone+One|Sintony');

html, body {
  height: 100%;
  color: rgba(255,255,255,1);
  background-color: rgba(5,5,5,1);
  font-size: @font-size;

  font-family: 'Oswald', sans-serif;
  /*font-family: 'Fjalla One', sans-serif;
  font-family: 'Paytone One', sans-serif;
  font-family: 'Cinzel', serif;
  font-family: 'Sintony', sans-serif;
  font-family: 'Boogaloo', cursive;*/

}

/*Navigation*/
.header-container {

  &.construction { .nav-container { .navbar { background: linear-gradient(to left, rgba(34,34,34,1) , rgba(200,200,200,1)); } } }
  &.movie { .nav-container { .navbar { background: linear-gradient(to left, rgba(34,34,34,1) , @color-movie); } } }

  .nav-container {
  	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 100;
  	width: 100%;


    .navbar {
      border-radius: 0px;
      margin-bottom: 0px;
      position: relative;
      z-index: 90;
      .container-fluid {
        .navbar-header {
          .navbar-brand {
            .logo { height: 100%; }
          }
          .navbar-toggle {
            border-color: rgba(255,255,255,0);
            .icon-bar {
              width: 30px;
            }
          }
        }
        #weNavbar {
          &.collapsing, &.in {
            .nav { width: 100%;}
          }
          .nav {
            li {
              a {
                &:hover { opacity: 0.8;}

                &.movie { color: @color-movie; }
                &.tv { color: @color-tv; }
                &.cast { color: @color-cast;}
                &.active { color: rgba(0,0,0,1); }
              }
            }
          }
        }
      }
    }
    .nav-bottom {
      position: relative;
      z-index: 20;
      overflow: hidden;
      -webkit-animation:0.5s slideInDown  ease;
      animation:0.5s slideInDown  ease;


      /* when showing the thing */
      &.ng-hide  {
        -webkit-animation:0.7s slideOutUp ease;
        animation:0.7s slideOutUp ease;
      }
      .drop-search {
        background-color: rgba(50,50,50,0.9);
        min-height: 30px;
        padding: 10px 15px;
        .nav-close { display: inline-block; width: 10%; transition: all 0.7s ease; &:hover { color:  rgba(200,200,200,1);}}
        .search-container {
          padding: 3px;
          display: inline-block;
          width: 85%;
          border-bottom: 1px solid rgba(255,255,255,1);
          .search-icon {
            width: 3%;
            display: inline-block;
            transition: all 0.7s ease;
            &.search { }
            &.clear { text-align: right; }
            &:hover { color:  rgba(100,100,100,1);}
          }
          .search-bar {
            width: 93%;
            display: inline-block;
            input { width: 100%; background-color: rgba(0,0,0,0); border: none;}
          }
        }
      }

      .search-results{
        background-color: rgba(50,50,50,0.9);
        width: 100%;
        padding: 10px 0px;
        max-height: 400px;
        .list-container {
          max-height: 380px;
          overflow: auto;
          .list-item {
            width: 100%;
            min-height: 50px;
            text-align: left;
            &+.list-item { border-top: 1px solid rgba(200,200,200,0.7);}
            .result-item {
              padding: 10px 10%;
              &.movie-item { &:hover { background-color: @color-movie; }}
              &.tv-item { &:hover { background-color: @color-tv; }}
              &.cast-item { &:hover { background-color: @color-cast; }}

              .item-img { padding: 5px; width: 75px; img { width: 100%; } display: inline-block; }
              .item-info { padding: 5px; display: inline-block; vertical-align: top;}
            }
          }
        }
      }
    }
  }
}
/*Main Body*/
.mainBody {
  padding-top: 50px;
  min-height: 100%;
  padding-bottom: 50px;

  .header-container {

  }
  .page-container {
    padding-bottom: 30px;
    .construction-txt { text-align: center; padding-top: 30px; }
  }

  .card {
    display: inline-block;
    position: relative;
    vertical-align: top;
    &.crd-1 { width: 100%; }
    &.crd-2 { width: 50%; }
    &.crd-3 { width: 33.334%; }
  }
}

/*Footer*/
.footer {
  //height: 115px;
  background-color: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
  width: 100%;
  min-height: 50px;
}

*:focus { outline: none;}
