.page-container {
  .details {
    &.cast {
      .details-container {
        .details-section {
          .noPoster {
            width: 100%;
            height: 400px;
            background: rgb(75, 121, 161, 1);
            background: -webkit-linear-gradient(to right, rgb(75, 121, 161, 1), rgba(40, 62, 81,1));
            background: linear-gradient(to right, rgb(75, 121, 161, 1), rgba(40, 62, 81,1));
          }
          .details-img {
            .add-item {
              &.cast {  background-color: @color-cast-back !important; &:hover { background-color: @color-cast !important;} }
            }
          }
          .item-row {
            .item-details-container {
              .option-link { &.selected, &:hover { border-bottom: 2px solid @color-cast !important;}  }
              .info-section {
                .info-credits {
                  .credits-item {
                    &.cast { .item-character, .item-job {color: @color-cast;} }
                  }
                }
                .info-sugggestions-container {
                  .suggestions-item {
                    &.cast {  &:hover { background-color: @color-cast-back; } }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .comparison, .header-panel {
    &.cast {
      .comparison-container, .header-panel-container {
        .comparison-header {
          .backcover-img {
            background: rgb(75, 121, 161, 1);
            background: -webkit-linear-gradient(to right, rgb(75, 121, 161, 1), rgba(40, 62, 81,1));
            background: linear-gradient(to right, rgb(75, 121, 161, 1), rgba(40, 62, 81,1));
          }
          .comparison-title { color: @color-cast; }
          .comparison-ctrls {
            .ctrl-btn {
              background-color: @color-cast-back;
              &:hover { background-color: rgba(20,20,20,0.8);}
            }
          }
        }
        .comparison-links {
          .option-link {
            &.compare-btn { color: @color-cast; }
            &.selected, &:hover { border-bottom: 2px solid @color-cast !important;}
          }
        }
        .compare-objects {
          .comparison-item {
            .compare-mask { &.active { background-color:@color-cast-back; }}
          }
        }
      }
    }
  }
}
