.page-container {

  .home-img {
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    .home-title {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      z-index: 1;
      text-align: center;
      font-size: 7rem;
    }
    .home-logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 2;
      opacity: 0.9;
      img {
        height: 100%;
        max-width: 100%;
        @media @mobile-device {
          width: 100%;
          height: initial;
          max-height: 100%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .backcover-img {
      position: absolute;
      z-index:0;
      top:0;
      left: 0;
      height: 500px;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 100%;
      bottom: 0;
      opacity: 0.7;
    }
  }

  .page-cards {
    height: 330px;
    padding: 10px;
    cursor: pointer;
    @media @mobile-device { height: inherit; padding: 10px; }

    &.movie_tv { .mask { background-color: @color-movie; }}
    &.tv { .mask { background-color: @color-tv;}}
    &.cast { .mask { background-color: @color-cast;}}
    &.spotlight { .mask { background-color: @color-spotlight;}}

    .mask {
      z-index: 1;
      opacity: .5;
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.7s ease;
    }
    .item-content {
      border: @theme-border;
      height: 100%;
      position: relative;
      overflow: hidden;
      padding: 10px;
      @media @mobile-device { height: 250px; }
      .content {
        &.front { position: relative; top: 10px; width: 100%; height: 90%; z-index: 2;}
        &.back { z-index: 0; position: absolute; top: 50%; transform: translateY(-50%);  width: 100%; text-align: center; }

        .item-title { text-transform: capitalize; text-align: center; font-size: 2rem; font-weight: bold; }
        .item-text { font-size: 1.5rem; text-align: center; @media @mobile-device, @tablet-device { font-size: 1.2rem;}}
        .fa { font-size: 7rem; transition: all 0.7s ease-in-out; opacity: 0.4; }
      }
    }
    &:hover, &:focus { .mask { opacity: 0.8; } .item-content { .content { .fa { transform: scale(1.5); }} } }
  }

  .blog-post {
    padding: 10px;
    @media @mobile-device { padding: 10px; }
    .blog-container {
      height: 300px;
      //padding: 30px;
      position: relative;
      background-color: rgba(30,30,30,1);
      border: @theme-border;
      &:hover {
        .img-section{
          background: -webkit-linear-gradient(left, rgba(0,0,0,0) 10%, @color-blog-back 30%, rgba(0,0,0,0) 90%); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(left, rgba(0,0,0,0) 10%, @color-blog-back 30%, rgba(0,0,0,0) 90%); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(left, rgba(0,0,0,0) 10%, @color-blog-back 30%, rgba(0,0,0,0) 90%); /* For Firefox 3.6 to 15 */
          background: linear-gradient(left, rgba(0,0,0,0) 10%, @color-blog-back 30%, rgba(0,0,0,0) 90%); /* Standard syntax (must be last) */
          .blog-cover {
            background-color: rgba(0,0,0,0.3);
          }
        }
      }
      @media @mobile-device { height: inherit; }

      .img-section {
        display: block;
        width: 100%;
        position: relative;
        z-index: 3;
        height: 50%;
        overflow: hidden;
        text-align: center;
        transition: all 0.7s ease-in-out;
        background: -webkit-linear-gradient(left, rgba(0,0,0,0) 10%, @color-blog-back 60%, rgba(0,0,0,0) 80%); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(left, rgba(0,0,0,0) 10%, @color-blog-back 60%, rgba(0,0,0,0) 80%); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(left, rgba(0,0,0,0) 10%, @color-blog-back 60%, rgba(0,0,0,0) 80%); /* For Firefox 3.6 to 15 */
        background: linear-gradient(left, rgba(0,0,0,0) 10%, @color-blog-back 60%, rgba(0,0,0,0) 80%); /* Standard syntax (must be last) */

        @media @mobile-device { height:300px; width: 100%; display: block;}
        .blog-cover {
          position: absolute;
          z-index: 3;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.4);
          transition: all 0.7s ease-in-out;
        }

        .img-container {
          position: relative;
          z-index: 4;
          overflow-x: auto;
          overflow-y: hidden;
          white-space:nowrap;
          height: 100%;
          padding: 5px;
          .images {
            display: inline-block;
            position: relative;
            z-index: 2;
            width: 200px;
            height: 200%;
            padding: 5px;
            text-align: center;
            img { height: 100%; max-width: 100%;}
            @media @mobile-device { height: 100%; }
            &+.images { margin-left: 20px;}
          }
        }
        .content-title {
          position: absolute;
          z-index: 4;
          bottom: 5px;
          left: 0;
          width: 100%;
          padding: 2px 10px;
          font-size: 2rem;
          font-weight: bold;
          display: block;
          color: rgba(186,85,211,1);
          text-align: left;
          @media @mobile-device { background-color: rgba(0,0,0,0.5); font-size: 1.5rem; }
        }
      }
      .content-section {
        position: relative;
        z-index: 3;
        display: block;
        padding: 30px;
        width: 100%;
        height: 50%;
        overflow: hidden;
        color: rgba(255,255,255,1);
        background-color: rgba(50,50,50,1);
        @media @mobile-device { padding: 15px; width: 100%; max-height: 250px; margin-top: 10px; }
        .content-text {
          font-size: 1.1rem;
          line-height: 1.7rem;
          @media @mobile-device { font-size: 0.9rem; }
        }

        .read-more { color: orange; }
      }
    }
  }
}
