.page-container {

  .details {
    &.movietv {
      .details-container {
        .details-section {
          .details-img {
            .add-item {
              &.movie {  background-color: @color-movie-back !important; &:hover { background-color: @color-movie !important;} }
              &.tv {  background-color: @color-tv-back !important; &:hover { background-color: @color-tv !important;} }
            }
          }
          .item-row {
            .item-details-container {
              &.movie {
              .option-link { &.selected, &:hover { border-bottom: 2px solid @color-movie !important;}  }
              }
              &.tv {
              .option-link { &.selected, &:hover { border-bottom: 2px solid @color-tv !important;}  }
              }
              .info-section {
                .info-credits {
                  .credits-item {
                    &.movie {
                      .item-character, .item-job {color: @color-movie;}
                      .credit-img { border-color: @color-movie; }
                    }
                    &.tv {
                      .item-character, .item-job {color: @color-tv;}
                      .credit-img { border-color:@color-tv; }
                    }
                  }
                }
                .info-sugggestions-container {
                  .suggestions-item {
                    &.movie {  &:hover { border-color: @color-movie-back; } }
                    &.tv {  &:hover { border-color: @color-tv-back; } }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .comparison, .header-panel {
    &.movietv {
      .comparison-container, .header-panel-container {

        .comparison-header {
          .comparison-title { color: @color-movie; }
          .comparison-ctrls {
            .ctrl-btn {
              background-color: @color-movie-back;
              &:hover { background-color: rgba(20,20,20,0.8);}
            }
          }
        }
        .comparison-links {
          .option-link {
            &.compare-btn { color: @color-movie; }
            &.selected, &:hover { border-bottom: 2px solid @color-movie !important;}
          }
        }
        .compare-objects {
          .comparison-item {
            .compare-mask { &.active { background-color:@color-movie-back; }}
          }
        }
      }
    }
  }
}
