.page-container {
  .header-section-container {
    height: 500px;
    margin-bottom: 70px;
    @media @mobile-device { height: inherit; }
    .header-panel {
      &.spotlight {
        min-height: inherit !important;
        .header-content {
          padding: 50px 15% 10px;
          width: 100%;
          height: 350px;
          background-color: rgba(100,100,100,1);
          overflow: hidden;
          @media @mobile-device { padding: 50px 5% 10px; height: inherit;}

          .background-cover {
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            opacity: 0.5;
            z-index: 1;
            -webkit-filter: blur(5px);
            filter: blur(5px);
          }
          .spotlight-details {
            z-index: 2;
            &.detail-img {
              width: 300px;
              overflow: hidden;
              display: inline-block;
              position: absolute;
              img { width: 100%;}
              @media @mobile-device {
                position: relative;
                width: 100%;
                text-align: center;
                img { width: 70%;}
              }
            }
            &.detail-info {
              margin-left: 300px;
              padding: 0 20px 20px;
              text-align: right;
              vertical-align: top;
              display: inline-block;
              position: relative;
              @media @mobile-device { padding-top: 10px; margin: 0; display: block; text-align: center;}
              .info-title { font-size: 2rem; color: rgba(255,255,255,1);}
              .spotlight-item {
                text-align: center;
                background-color: @color-spotlight-back;
                padding: 5px;
                color: rgba(255,255,255,0.8);
                margin-bottom: 5px;
                -webkit-animation: 1s wobble  ease;
                animation: 1s wobble ease;

                i { font-size: 1.3rem;}
              }
              .info-content {
                padding: 5px;
                background-color: rgba(0,0,0,0.5);
                float: left;
                width: 100%;
                .content { }
              }
            }
          }
          .noPoster {
            width: 100%;
            height: 400px;
            background: #eacda3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

          }
        }
      }
    }
  }

  // Visuals
  .visual-section {
    color: rgba(255,255,255,1);
    padding: 10px 50px 30px;
    @media @mobile-device { padding: 10px 20px 30px;}
    .visual-title {
      display: block;
      font-size: 2rem;
      padding: 20px 0 15px;
      border-bottom: 1px solid rgba(255,255,255,1);
      margin-bottom: 10px;
      @media @mobile-device { text-align: center;}
    }
    .visual-content {
      position: relative;
      .loading-container { position: absolute; top: 0; left: 0; height: 100%; width: 100%;}
    }
    &.cast-spotlight-section {
      .extra-container {
        position: relative; 
        .nav-ctrl {
          position:absolute;
          top:0;
          width: 50px;
          height: 100%;
          background: rgba(0,0,0,0.2);
          color: rgba(255,255,255,1);
          cursor: pointer;
          transition: 0.5s all ease;
          i { font-size: 30px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}            
          &:hover { background: rgba(0,0,0,0.7);}
          &.ctrl-left { left: 0; }
          &.ctrl-right { right: 0; }

          @media @mobile-device { 
            width: 25px;
            background: rgba(0,0,0,0.9);
            i { font-size: initial; }
          }
        }
      }
      .cast-container {
        width: 100%;
        overflow: hidden;
        white-space:nowrap;
        min-height: 200px;
        display: flex;
        justify-content: space-between;
        .cast-item {
          display: inline-block;
          width: 150px;
          min-width: 150px;
          position: relative;
          padding: 10px;
          overflow: hidden;
          white-space: normal;
          .img-container {
            position: relative;
            .add-cover {
              position: absolute;
              width: 100%;
              height: 100%;
              opacity: 0;
              border-radius: 50%;
              cursor: pointer;
              transition: 0.7s all ease-in-out;
              i {
                position: absolute;
                color: rgba(255,255,255,1);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 50px;
              }
            }
            .cast-img {
              display: block;
              border: 5px solid #ffffff;
              border-radius: 50%;
              width: 100%;
              min-height: 120px;
              min-width: 120px;
            }
            &:hover {
              .add-cover { opacity: 0.7; }
            }
          }
          .item-title { display: block; font-size: 1.2rem; text-align: center; font-weight: bold; color: rgba(255,255,255,1);}
        }
      }
    }

    &.cast-connections-section {
      #network-container{
        width: 100%;
        height: 600px;
        border: 1px solid rgba(50,50,50,1);
      }
    }
    &.cast-frequency-section {
      .chord-container {
        position: relative;
        font: 10px sans-serif;
        width: 100%;
        height: 600px;
        @media @mobile-device { height: 300px; }
        svg{
          width: 100%;
          height: 100%;
          text{
            fill:grey;
            font-size:11px;
          }
          .values {
            text{
              pointer-events:none;
              stroke-width: 0.5px;
            }
          }
        }
        .groups:hover{
          cursor:pointer;
          font-weight:bold;
        }
      }
    }
  }
}
