.page-container {
  .header-section-container {
    height: 500px;
    margin-bottom: 10px;
    .header-panel {
      &.spotlight {
        min-height: inherit !important;
        .header-content {
          padding: 50px 15% 10px;
          width: 100%;
          height: 350px;
          background-color: rgba(100,100,100,1);
          overflow: hidden;
          .background-cover {
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            opacity: 0.5;
            z-index: 1;
            -webkit-filter: blur(5px);
            filter: blur(5px);
          }
          .spotlight-details {
            z-index: 2;
            &.detail-img {
              width: 300px;
              overflow: hidden;
              display: inline-block;
              position: absolute;
              img { width: 100%;}
            }
            &.detail-info {
              margin-left: 300px;
              padding: 0 20px 20px;
              text-align: right;
              vertical-align: top;
              display: inline-block;
              position: relative;
              .info-title { font-size: 2rem; color: rgba(255,255,255,1);}
            }
          }
        }
      }
    }
  }

  // Visuals
  .visual-section {
    color: rgba(255,255,255,1);
    padding: 10px 50px 30px;
    .visual-title {
      display: block;
      font-size: 2rem;
      padding: 20px 0 15px;
      border-bottom: 1px solid rgba(255,255,255,1);
      margin-bottom: 10px;
    }
    &.cast-connections-section {
      #network-container{
        width: 100%;
        height: 600px;
        border: 1px solid rgba(50,50,50,1);
      }
    }
    &.cast-frequency-section {
      .chord-container {
        font: 10px sans-serif;
        width: 100%;
        height: 600px;
        svg{
          width: 100%;
          height: 100%;
          text{
            fill:grey;
            font-size:11px;
          }
          .values {
            text{
              pointer-events:none;
              stroke-width: 0.5px;
            }
          }
        }
        .groups:hover{
          cursor:pointer;
          font-weight:bold;
        }
      }
    }
  }
}
