@font-size: 16px;
@poster-size: 400px;
@cast: rgba(0,0,255,1);
@movie: rgba(255,0,0,1);
@tv: rgba(0,153,0,1);
@special: rgba(255,102,0,1);
@grey: rgba(204,204,204,1);

.pagewidth {  width: 80%;  max-width: 1500px; }
.default-postersize { width: 200px; height: 300px; }

html, body {
  font-size: @font-size;
  height: 100%;
}

.page-wrapper {
  .pagewidth;
  margin: 0 auto;
  padding-top: 50px;
  .page {
    border: 1px solid #000;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    height: 100%;
    min-height: 1000px;
    padding-bottom: 30px;
  }
}
/*Navigation*/
.we-nav {
  background-color: rgba(0,0,0,0.7);
  z-index:50;
  &.screenPass {
    position: fixed;
    top:0px;
    .pagewidth;
  }
  .search-autofill {
    overflow-x: hidden;
    .no-cover {
      background-color: #000;
      height: 45px;
      width: 30px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .container-fluid {
    padding-top: 15px;

    .navbar-right {
      margin-right: 0px;
      .navbar-nav {
        padding-top: 5px;
        li {
          border-left: 2px solid #000;
        }
      }
    }
  }
}
.section-body {
  padding: 10px;
}
.btn-section {
  .md-button {
    font-weight: bold;
    &.view-button{  }
    &.add-button { background-color: @movie;}
  }

}
.selected-movie {
  padding:20px;
  .selected-container {
    display: inline-block;
    width: 100%;
    padding:10px;
    border: 5px dashed #ccc;
    img {
      float: left;
      max-width: 200px;
      margin-right: 10px;
    }
    .no-cover {
      background-color: #000;
      .default-postersize;
      float: left;
      margin-right: 10px;
    }
    .selected-info {
      padding: 10px;

      .selected-title {
        font-size: 1.44rem;
        font-weight: bold;
      }
      .selected-overiview {
        font-size: 1.rem;
      }
      .selected-cast {
        .cast-member {
          padding: 3px;
          border: 1px solid #000;
          max-height: 200px;
          overflow-y: scroll;

          .selected-cast-members {
            max-width: 20%;
            display: inline-block;
            float: left;
            padding: 0px 4px 4px 0px;

            img { max-width: 30%;  }
            .no-poster { background-color: @grey; max-width: 30%;}

            .selected-character {
              max-width: 60%;
              display: inline-block;
              .character { font-weight: bold; font-size: .8rem; color: @movie;}
              .name {font-size: .8rem; margin-left: 3px;}
            }
          }
        }
      }

    }
  }
}

.compare-movies {
  width: 100%;
  .compare-movies-container {
    position: relative;
    .movie-display {
      width: 33%;
      float: left;
      &+.movie-display {
        padding-left: 5px;
      }
      .movie-container {
        padding:10px;
        border: 5px dashed #ccc;
        position: relative;

        .remove-movie {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 3;
          i {
            color: rgba(255,0,0,1);
            font-size: 1.5em;
            background-color: rgba(255,255,255,0.7);
            border-radius: 50px;
          }
        }
        .movie-poster {
          width: 100%;
          position: relative;
          overflow-y: hidden;
          height: @poster-size;

          img {
            height: 100%;
            width: 100%;
            z-index: 1;
          }
          .no-cover {
            background-color: #000;
            width:100%;
            height: 100%;
            float: left;
            margin-right: 10px;
          }
          .info-slide {
            background-color: rgba(0,0,0,0.7);
            color: #fff;
            z-index: 2;
            height: 90%;
            width: 100%;
            padding: 2px 10px;
            position: absolute;
            bottom:0;
            transition: 1s ease bottom !important;
            overflow-y: auto;

            &.comp-slide { bottom: -70%; }
            p {
              text-align: center;
              span { margin:0px 5px; font-weight: bold;}
            }
            div {
              .info-header {
                font-weight: bold;
                display: block;
                border-bottom: 1px solid #fff;
                margin-top: 20px;
              }
              .info-content { font-size: .8rem; display: block;}
            }
          }
        }
      }
    }
  }
}

.compare-results {
  margin: 20px 0px;
  .btn-section {
    text-align: center;
    .compare-button { background-color: @movie; }
  }
}
.about-section {
  margin-top: 70px;
  text-align: center;
  padding: 0 7%;
  h1 { color: @movie;}
  p { line-height: 3em;}
}

.results-pill {
  border: 1px solid #ddd;
  .pill-container {
    max-height: 300px;
    overflow-y: hidden;
    .pill-left {
      width: 60%;
      float:left;
      border-right: 1px solid #ddd;
      .compare-select {
        float: none;
        border-bottom: 1px solid #ddd;
        padding: 5px;

        &:hover {background-color: #ddd; }
        &.active{ background-color: @movie; color:#fff;}
        .titles {
          width: 90%;
          display: inline-block;
          div { display: block;}
        }
        i {
          display: inline-block;
          float: right;
          line-height: 3rem;
        }
      }
    }
    .pill-right {
      max-height: 300px;
      overflow-y: auto;
      border-left: 1px solid #ddd;
      padding: 20px 0px;
      .default { text-align: center;}
      div {
        ul {
          li {
            list-style-type: none;
            padding: 3px 0px;
            img {
              border-radius: 50px;
              width: 50px;
              margin-right: 5px;
              border: .25rem solid #000;
            }
          }
        }
      }
    }
  }
}
