@font-size: 16px;
@poster-size: 400px;
@cast: rgba(0,0,255,1);
@movie: rgba(255,0,0,1);
@tv: rgba(0,153,0,1);
@special: rgba(255,102,0,1);
@grey: rgba(204,204,204,1);

.pagewidth {  width: 80%;  max-width: 1500px; }
.default-postersize { width: 200px; height: 300px; }

html, body {
  font-size: @font-size;
  height: 100%;
  color: #000;
}
.mainBody {
  height:100%;
}

.we-btn {
  border-radius: 25px;
  &.movie-btn { background-color: @movie; color: #fff; &:hover { color: @movie; }}
  &.cast-btn { background-color: @cast; color: #fff; &:hover { color: @cast;}}
}
.page-wrapper {
  .pagewidth;
  margin: 0 auto;
  padding-top: 50px;
  .page {
    border: 1px solid #000;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    height: 100%;
    min-height: 1000px;
    padding-bottom: 30px;
  }
}

/*Navigation*/
.we-nav {
  background-color: rgba(0,0,0,0.7);
  z-index:50;
  &.screenPass {
    position: fixed;
    top:0px;
    .pagewidth;
  }

  .search-autofill {
    cursor: pointer;
    overflow-x: hidden;
    .no-cover {
      background-color: #000;
      height: 45px;
      width: 30px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .container-fluid {
    padding-top: 15px;

    .navbar-right {
      margin-right: 0px;
      .navbar-nav {
        padding-top: 5px;
        &#movie-nav {  .active { a { color:#fff; background-color: @movie;} } }
        &#cast-nav {  .active { a { color:#fff; background-color: @cast;} } }

        li {
          border-left: 2px solid #000;
        }
      }
    }
  }
}
.section-body {
  padding: 10px;
}
.btn-section {
  .md-button {
    font-weight: bold;
  }

}
.selected-object {
  padding:20px;
  .selected-container {
    display: inline-block;
    width: 100%;
    padding:10px;
    border: 5px dashed #ccc;
    img {
      float: left;
      max-width: 200px;
      margin-right: 10px;
    }
    .no-cover {
      background-color: #000;
      .default-postersize;
      float: left;
      margin-right: 10px;
    }
    .selected-info {
      padding: 10px;

      .selected-title {
        font-size: 1.44rem;
        font-weight: bold;
      }
      .selected-overview {
        font-size: 1rem;
      }

      .selected-details {
        .selected-about {
          font-size: 1rem;
          max-height: 200px;
          overflow-y: auto;
          padding: 2%;
          border: 2px solid #000;
          margin-top: 10px;
          background-color: rgba(255,255,255,0.4);
        }

        .cast-member, .movie-list {
          padding: 1%;
          border: 1px solid #000;
          max-height: 200px;
          overflow-y: auto;
          background-color: rgba(255,255,255,0.4);

          .selected-cast-members, .selected-movie-list {
            max-width: 20%;
            display: inline-block;
            float: left;
            padding: 0px 4px 4px 0px;

            img { max-width: 30%;  }
            .no-poster { background-color: @grey; max-width: 30%;}

            .selected-character, .selected-movie {
              max-width: 60%;
              display: inline-block;
              .character { font-weight: bold; font-size: .8rem; color: @movie;}
              .title { font-weight: bold; font-size: .8rem; color: @cast;}
              .name, .date {font-size: .8rem; margin-left: 3px;}
            }
          }
        }
      }

    }
  }
}

.compare-object {
  width: 100%;
  .compare-object-container {
    position: relative;
    .object-display {
      width: 33%;
      float: left;
      &+.object-display {
        padding-left: 5px;
      }
      .object-container {
        padding:10px;
        border: 5px dashed #ccc;
        position: relative;

        .remove-object {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 3;
          i {
            color: rgba(255,0,0,1);
            font-size: 1.5em;
            background-color: rgba(255,255,255,0.7);
            border-radius: 50px;
          }
        }
        .object-poster {
          width: 100%;
          position: relative;
          overflow-y: hidden;
          height: @poster-size;

          img {
            height: 100%;
            width: 100%;
            z-index: 1;
          }
          .no-cover {
            background-color: #000;
            width:100%;
            height: 100%;
            float: left;
            margin-right: 10px;
            z-index: 1;
          }
          .visual-bubbles {
            z-index: 2;
            height: 100%;
            width: 100%;
            position: absolute;
            top:0;
            overflow: hidden;
            padding:.25rem;

            &.movie-visual { background-color: rgba(255,0,0,0.2);}
            &.cast-visual { background-color: rgba(0,0,255,0.2); }

            div {
              display: inline-block;
              padding:.25rem;
              img {
                border-radius: 50%;
                width: 30px;
                height:30px;
                border: .5rem solid #000;
                position: absolute;
                top: 0;
                left: 0;

                &.highlighted {
                  width: 80px;
                  height:80px;
                  border-width: .5rem;
                }
              }
            }
          }
          .info-slide {
            background-color: rgba(0,0,0,0.7);
            color: #fff;
            z-index: 3;
            height: 80%;
            width: 100%;
            padding: 2px 10px;
            position: absolute;
            bottom:0;
            transition: 1s ease bottom !important;
            overflow-y: auto;

            &.comp-slide { bottom: -70%; }
            p {
              text-align: center;
              span { margin:0px 5px; font-weight: bold;}
            }
            div {
              .info-header {
                font-weight: bold;
                display: block;
                border-bottom: 1px solid #fff;
                margin-top: 20px;
              }
              .info-content { font-size: .8rem; display: block;}
            }
          }
        }
      }
    }
  }
}

.compare-results {
  margin: 20px 0px;
  .btn-section {
    text-align: center;
    .compare-button { background-color: @movie; }
  }
}
.about-section {
  margin-top: 70px;
  text-align: center;
  padding: 0 7%;
  &#movie-about { h1 { color: @movie;} }
  &#cast-about { h1 { color: @cast;} }

  p { line-height: 3em;}
}

.results-pill {
  border: 2px solid #000;
  background-color: rgba(255,255,255,0.7);
  border-radius: .25rem;
  margin: 30px 0px;

  .compare-header {
    text-align: center;
    border-bottom: 2px solid #000;

    h2 { font-weight: bold;}
    p { font-size: 1rem;}
  }
  .pill-container {
    max-height: 246px;
    overflow-y: hidden;
    background-color: rgba(0,0,0,1);

    .pill-left {
      width: 60%;
      float:left;
      border-right: 2px solid #000;
      background-color: rgba(255,255,255,0.8);
      .compare-select {
        float: none;
        border-bottom: 2px solid #000;
        padding: 5px;

        &:hover {background-color: #ddd; }
        &.active{
          color:#fff;
          &.movie-select { background-color: @movie; }
          &.cast-select { background-color: @cast; }
        }
        .titles {
          width: 90%;
          display: inline-block;
          div { display: block;}
        }
        i {
          display: inline-block;
          float: right;
          line-height: 3rem;
        }
      }
    }
    .pill-right {
      max-height: 246px;
      overflow-y: auto;
      border-left: 2px solid #000;
      padding: 20px 0px;
      background-color: rgba(255,255,255,1);
      .default { text-align: center;}
      div {
        ul {
          li {
            list-style-type: none;
            padding: 1%;
            &.highlighted {
              background-color: rgba(0,0,0,0.4);
              margin-right: 1%;
              border-radius: 5px;
            }
            img {
              border-radius: 50%;
              width: 50px;
              margin-right: 5px;
              border: .25rem solid #000;
            }
          }
        }
        .no-matches { padding: 0 2%; }
      }
    }
  }
}
