<div class="footer-container">
  <div class="footer-section-container">
    <div class="footer-section">
      <div class="section-header">Pages</div>
      <a ui-sref="app.movie_tv" class="footer-link">Movies & Tv</a>
      <a ui-sref="app.cast" class="footer-link">Cast & Crew</a>
      <a ui-sref="app.spotlight" class="footer-link">Spotlight</a>
    </div>
    <div class="footer-section">
      <div class="section-header">Follow Us</div>
      <a href="https://www.instagram.com/wedbco/" target="_blank" class="footer-link icon"><i class="fa fa-instagram"></i> Instagram</a>
    </div>
    <div class="footer-section right">
      <div class="section-header">Powered By</div>
      <a href="https://www.themoviedb.org/" target="_blank" class="poweredby"><img src="imgs/icons/themoviedb2.png"></a>
    </div>
  </div>
  <div class="footer-tail">
    <div class="tail-section">Rojhay D3signs</div>
    <div class="tail-section"><span>Copyright</span> <i class="fa fa-copyright" aria-hidden="true"></i> <span>2016-2017</span></div>
  </div>
</div>
