<div class="footer-container">
  <div class="footer-section">
    <div class="section-header">Pages</div>
    <a class="footer-link">Movies & Tv</a>
    <a class="footer-link">Cast & Crew</a>
    <a class="footer-link">Spotlight</a>
    <a class="footer-link">Blogs</a>
  </div>
  <div class="footer-section">
    <div class="section-header">Follow Us</div>
    <a class="footer-link icon"><i class="fa fa-instagram"></i></a>
  </div>
  <div class="footer-section right"><div class="poweredby">Powered By: <img src="imgs/icons/themoviedb2.png"></div></div>
</div>
