<div class="footer-container">
  <div class="footer-section">
    <div class="section-header">Pages</div>
    <a ui-sref="app.movie_tv" class="footer-link">Movies & Tv</a>
    <a ui-sref="app.cast" class="footer-link">Cast & Crew</a>
    <a ui-sref="app.construction" class="footer-link">Spotlight</a>
    <a ui-sref="app.construction" class="footer-link">Blogs</a>
  </div>
  <div class="footer-section">
    <div class="section-header">Follow Us</div>
    <a href="https://www.instagram.com/wedbco/" target="_blank" class="footer-link icon"><i class="fa fa-instagram"></i> Instagram</a>
  </div>
  <div class="footer-section right">
    <div class="section-header">Powered By</div>
    <a href="https://www.themoviedb.org/" target="_blank" class="poweredby"><img src="imgs/icons/themoviedb2.png"></a>
  </div>
</div>
