<div class="nav-container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#weNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="app">WEDB</a>
      </div>
      <div class="collapse navbar-collapse" id="weNavbar">
        <ul class="nav navbar-nav pull-right">
          <li><a ui-sref="app.movie_tv" class="link movie" ui-sref-active="active">Movies & Tv Shows</a></li>
          <li><a ui-sref="app.cast" class="link cast" ui-sref-active="active">Cast & Crew</a></li>
          <li><a ui-sref="app.spotlight" class="link spotlight" ui-sref-active="active">Spotlight</a></li>
          <li class="navbar-search"><a ng-click="sc.toggleSearch('toggle')" ng-hide="sc.searchOpen" class="link"><i class="fa fa-search" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="nav-bottom" ng-show="sc.searchOpen">
    <div class="drop-search">
      <div class="nav-close" ng-click="sc.toggleSearch('close')"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
      <div class="search-container">
        <div class="search-icon search" ng-click="sc.search()"><i class="fa fa-search"></i></div>
        <div class="search-bar"><input type="text" id="mainsearch" name="search" ng-model="sc.searchQuery" ng-model-options='{ debounce: 500 }' ng-change="sc.search()"></div>
        <div class="search-icon clear" ng-click="sc.clearSearch()"><i class="fa fa-times"></i></div>
      </div>
    </div>

    <div class="search-results">
      <div class="list-container">
        <!--<div class="error-message" ng-if="sc.displayResults.display.length == 0 && sc.searchQuery.length > 0">Sorry we did not find anything for "{{sc.searchQuery}}"</div>-->
        <div class="list-item" ng-repeat="item in sc.displayResults.display">
          <!--Movie Result-->
          <div class="result-item movie-item" ng-click="sc.itemAction(item, 'movie')" ng-if="item.media_type == 'movie'">
            <div class="item-img"><img ng-src="http://image.tmdb.org/t/p/w500{{item.poster_path}}" ng-if="item.poster_path != null"/> <div class="no-img" ng-if="item.poster_path == null"></div></div>
            <div class="item-info"><div class="item-title">{{item.title}} <span class="item-year">({{item.release_date | date:"yyyy"}})</span></div> <div class="type-icon"><i class="fa fa-film"></i></div></div>
          </div>
          <!--TV Result-->
          <div class="result-item tv-item" ng-click="sc.itemAction(item, 'tv')" ng-if="item.media_type == 'tv'">
            <div class="item-img"><img ng-src="http://image.tmdb.org/t/p/w500{{item.poster_path}}" ng-if="item.poster_path != null"/> <div class="no-img" ng-if="item.poster_path == null"></div></div>
            <div class="item-info"><div class="item-title">{{item.name}} <span class="item-year">({{item.first_air_date | date:"MM/dd/yyyy"}})</span></div> <div class="type-icon"><i class="fa fa-television "></i></div></div>
          </div>
          <!--Person Result-->
          <div class="result-item cast-item" ng-click="sc.itemAction(item, 'cast')" ng-if="item.media_type == 'person' || sc.title == 'cast'">
            <div class="item-img"><img ng-src="http://image.tmdb.org/t/p/w500{{item.profile_path}}" ng-if="item.profile_path != null"/> <div class="no-img" ng-if="item.profile_path == null"></div></div>
            <div class="item-info"><div class="item-title">{{item.name}}</div> <div class="type-icon"><i class="fa fa-users"></i></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
